<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TFL.WebClientConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <TFL.WebClientConsole.Properties.Settings>
            <setting name="AppName" serializeAs="String">
                <value>d0f9ee53</value>
            </setting>
            <setting name="AppKey" serializeAs="String">
                <value>18064c33a567707dcd5c4de7d08d8985</value>
            </setting>
        </TFL.WebClientConsole.Properties.Settings>
    </userSettings>
</configuration>